<!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>VICTORIA</h1>
                        <h3>ORGANIC & HEALTH FOODS</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.facebook.com/pages/%E7%B6%AD%E5%A4%9A%E5%88%A9%E4%BA%9E%E6%9C%89%E6%A9%9F%E7%94%9F%E6%B4%BB%E9%A4%A8%E3%83%93%E3%82%AF%E3%83%88%E3%83%AA%E3%83%A4-%E3%82%AA%E3%83%BC%E3%82%AC%E3%83%8B%E3%83%83%E3%82%AF/339753669372532" class="btn btn-default btn-lg"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://tw.bid.yahoo.com/tw/booth/Y2397453046" class="btn btn-default btn-lg"><i class="fa fa-shopping-cart fa-fw"></i> <span class="network-name">YAHOO拍賣</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
<!-- /.intro-header -->

<!-- Page Content -->
    <a  name="about"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">健康是一切的基礎<br>The first wealth is health</h2>
                    <p class="lead">維多利亞有機生活館，因應目前國人追求健康的理念，引進世界各國最具權威與品質認證之產品。經認真嚴謹的研發，及健康安全的品管保證，並賦予食品最高營養的充分發揮，獨特風味，品味堅持的最佳保證。</p>
                    
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "products.jpg", class: "img-responsive" %>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <a name="products"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">商品列表<br></h2>
                    <p class="lead">本店為服務客戶的需求，商品項目如下：<br>
                        1. 調理機 2.保健食品 3. 冷凍食品 4. 生鮮蔬果 5. 五穀雜糧 6. 油品、調味料及罐頭</p>
                    <a href="categories" class="btn btn-default btn-lg">
                        <i class="fa fa-hand-o-right fa-fw"></i>
                        <span class="network-name">瀏覽商品列表</span>  
                    </a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "products2.jpg", class: "img-responsive" %>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <a  name="contact"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">聯絡我們<br>Contact Us</h2>
                    <p class="lead">
                        地址：高雄市新興區南華橫一路2之1號<br>
                        電話：(07)-2311222 / (07)-2510666<br>
                        Email：new_victoria_organic@yahoo.com.tw
                    </p>
                    
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="https://maps.google.com/maps/api/staticmap?center=%E9%AB%98%E9%9B%84%E5%B8%82%E6%96%B0%E8%88%88%E5%8D%80%E5%8D%97%E8%8F%AF%E6%A9%AB%E4%B8%80%E8%B7%AF2%E8%99%9F&zoom=17&size=600x450&sensor=false&markers=%E9%AB%98%E9%9B%84%E5%B8%82%E6%96%B0%E8%88%88%E5%8D%80%E5%8D%97%E8%8F%AF%E6%A9%AB%E4%B8%80%E8%B7%AF2%E8%99%9F" class="img-responsive" alt="Responsive image">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>維多利亞有機生活館（ビクトリヤ オーガニック）</h2>
                </div>
            </div>
        </div>
    </div>



