<!-- Sidebar -->
<div class="col-md-3">
	<br>
	<br>
        <div class="list-group">
			<% @categories.each do |category| %>
				<li class="list-group-item">
				<%= link_to "#{category.title}", category_products_path(category)%>
				<span class="badge"><%= category.products.count %> 項商品</span>
				</li>
			<% end %>
		</div>
</div>
