<br>
<br>
<div class="col-md-9">
	<div class="row">
		<% @products.each do |p| %>
			<div class="col-md-4" >
				<div class="products-item">
					<%= image_tag p.image.url(:medium), class: "img-thumbnail"%>
	        <h4><%= link_to "#{p.name}", category_product_path(@category, p) %></h4>   
        </div>
        <!-- /.products-item -->
      </div>
      <!-- /.row -->
		<% end %>
	</div>
	<%= paginate @products %>
</div>
<!-- /.col-md-9 -->